*.lock
/BiggerLab_YHY_JanitorSimulator/Library/*
/BiggerLab_YHY_JanitorSimulator/Temp/*
/BiggerLab_YHY_JanitorSimulator/Packages/*
/BiggerLab_YHY_JanitorSimulator/obj/*
/BiggerLab_YHY_JanitorSimulator/.vs/*
/BiggerLab_YHY_JanitorSimulator/.idea/*
/BiggerLab_YHY_JanitorSimulator/*.csproj
/BiggerLab_YHY_JanitorSimulator/*.sln
/BiggerLab_YHY_JanitorSimulator/*.user
